<div  class="roll-entry" 
      id="roll_{{github.name}}" 
      onclick="nav.gotoPost('{{github.name}}')">
      <div class="roll-entry-content">
        <img src="{{banner}}" alt="{{github.name}}" data-name="{{github.name}}" />
      </div>
</div>